.inputs-container {
  width: 100%;
  text-align: center;
}

.inputs-container > .inputs-col {
  width: 45%;
  display:inline-block;
  text-align: left;
}

.inputs-container > .inputs-col > textarea {
  display: block;
  width: 95%;
  resize: vertical;
  min-height: 20vh;
}

#btn-check {
  min-width: 130px;
  margin-top: 10px;
  height: 40px;
}

#common-result-container {
  width: 100%;
  padding-top: 1rem;
  margin: 1rem 0rem;
  border-top: 1px solid lightgrey;
}

#common-result-container > * {
  display: block;
  margin: 0 auto;
}

#common-result-container > textarea {
  width: 250px;
  min-height: 10vh;
}

#results {
  border-top: 1px solid lightgrey;
  padding-top: 15px;
  margin-top: 15px;
}

#results.inputs-container > .inputs-col > textarea {
  min-height: 40vh;
}
